

/* ==      MED         == */
@media screen and (min-width: 786px) {
    
}

/* ==      LG         == */
@media screen and (min-width: 992px) {
    .navbar-nav li{
        padding: 10px 20px;
    }

    .header-content{
        padding-top: 1rem;
    }

    .testimonials-title h1{
        font-size: 40px;
    }

    .tst{
        display: block;
    }

    .register{
        font-size: 40px;
    }

    .register-section{
        padding: 80px 0 ;
    }

    .header-text,.partner-title{
        margin-top: 3.5rem;
    }

}

/* ==      XL         == */
@media screen and (min-width: 1200px) {
    .header-text{
        margin-top: 6rem;
    }
}


@media only screen and (max-width: 479px) {
.testimonial-area-11 .testimonial-slide .content{
    padding: 40px 20px;
 }
}

@media only screen and (max-width: 992px){
    .testimonial-area-11 .testimonial-slide .content{
        width: 100%;
    }
    .nav-item{
        margin-top: 10px;
        display: block;
        width: 100%;
        font-size: 20px;
    }
    .navbar-nav{
        width: 90%;
        margin: 0 auto;
    }

}